/* GENERAL STYLING */
* { font-family: 'Gayathri', sans-serif; }

h2 {
    font-size: 250%;
    margin-bottom: .5em;
}

p, li {
    font-size: 1.1em;
    color: rgb(59, 59, 59)
}

a.text-link { text-decoration: none; }

.center { text-align: center; }

.margin-bottom { margin-bottom: 2em; }

.padded { padding: 2em 10em; }

.roundedBorder { border-radius: 1em; }

.v-align { align-items: center; }

/* COLORS */
.my-primary { color: rgb(73, 115, 255) }

.my-secondary { color: rgb(37, 189, 57); }

.light-gray-bg { background-color: lightgray; }

/* NAVBAR ELEMENTS */
.opaque { background-color: rgb(73, 115, 255); }

.transition {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/* HEADER ELEMENTS */
.jumbotron-fluid {
    display: flex;
    align-items: center;
}

.jumbotron-size {
    height: '100vh';
}

.header {
    color: rgb(255, 255, 255);
    text-align: center;
}

h1.header { font-size: 5em; }

h3.header {
    font-size: 2em;
    font-style: italic;
}

/* HOMEPAGE BODY ELEMENTS */


/* FOOTER ELEMENTS */
footer {
    background-color: rgb(73, 115, 255);
    display: block;
    padding: 2em 1em;
    width: 100%;
}

h5.footer {
    color: white;
    margin-bottom: 1em;
}

.socials {
    margin: 0 .5em;
}

/* FOR SMALLER MEDIA */
@media screen and (max-width: 800px) {
    
    .padded { padding: 1em 1em; }

}